<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="./static/style/style.css" />
  </head>
  <body>
    <div class="content">
      <header class="navigation">
        <div class="top">
          <li>
            <a href="#"><img src="./static/icons/home.png" alt="Inicio" /></a>
          </li>
          <li>
            <a href="#"><img src="./static/icons/layers.png" alt="" /></a>
          </li>
        </div>

        <div class="bottom">
          <li>
            <a href="#"
              ><img src="./static/icons/logo-github.png" alt="Mi GitHub"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="./static/icons/twitter-sign.png" alt="Mi Twitter"
            /></a>
          </li>
        </div>
      </header>

      <div class="container">
        <div class="first">
            <h1>Hola, Mi Nombre es Ricardo.</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cumque possimus necessitatibus quasi sapiente reiciendis. Laboriosam voluptas dicta omnis sapiente quod, cumque animi adipisci vel consequuntur expedita placeat veritatis fugiat?</h2>
        </div>
        <div class="second"></div>
      </div>
    </div>
  </body>
</html>
